body {
	background-color: black;
}

#dica-img, #dica-img2 {
	padding-top: 30px;
}

@media screen and (max-width: 749px) {
	
#dica-img {
	width: 75%;
}

}

@media screen and (min-width: 750px) {
	
#dica-img {
	width: 47%;
}

}

@media screen and (max-width: 749px) {
	
#dica-img2 {
	width: 60%;
}

}

@media screen and (min-width: 750px) {
	
#dica-img2 {
	width: 35%;
}

}